<%- include('partials/header') %>      
    <h1 class="display-4 font-weight-bold">LOBBY.IO</h1>
    <div class="row">
        <h2>FEED</h2>
        <div class="row" id="feed">
            <div class="col-md-6 col-lg-4">
                <a href="https://www.youtube.com/watch?v=FQ1fJbYhbVQ">
                    <div class="card h-75 shadow-sm">
                        <img class="card-img-top" src="https://www.mobygames.com/images/shots/l/604759-doom-game-boy-advance-screenshot-classic-doom-monster-one.png">
                        <div class="card-body">
                            <h5 class="card-title text-truncate">Interesting Findings About Doom's Monster Sprites</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 ">
                <a href="https://www.epicgames.com/fortnite/en-US/patch-notes/v7-30">
                    <div class="card h-75 shadow-sm">
                        <img class="card-img-top" src="https://cdn2.unrealengine.com/Fortnite%2Fpatch-notes%2Fv9-01%2Fbr-header-v9-01%2F00BR_Weapon-TacticalAssaultRifle_Social-%281%29-1920x1080-5ce8461cb28de23166b991fc38967aa846148fbe.jpg">
                        <div class="card-body">
                            <h5 class="card-title text-truncate">Fortnite 9.01 Update</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a href="https://www.nintendolife.com/news/2020/10/fantasy_battle_royale_spellbreak_is_getting_its_first_seasonal_content_update_next_week">
                    <div class="card h-75 shadow-sm">
                        <img class="card-img-top" src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fimages.ctfassets.net%2Fwn7ipiv9ue5v%2FphiNFhMxACFssyWHRglxK%2F396520640f6729c3a0785b1eddf62a18%2FSpellbreak_Hero_4k.jpg&imgrefurl=https%3A%2F%2Fplayspellbreak.com%2F&tbnid=BSUJ2XFmPkJC2M&vet=12ahUKEwj4lcjPu7_sAhUHMt8KHcxeDoQQMygAegUIARCPAQ..i&docid=vyvzwMUcFkqevM&w=3840&h=2160&q=spellbreak&ved=2ahUKEwj4lcjPu7_sAhUHMt8KHcxeDoQQMygAegUIARCPAQ">
                        <div class="card-body">
                            <h5 class="card-title text-truncate">Far Cry 3: Blood Dragon's A.J.M. 9 in CS:GO</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a href="https://www.youtube.com/watch?v=1KpteSXDItU">
                    <div class="card h-75 shadow">
                        <img class="card-img-top" src="https://assets1.ignimgs.com/2018/10/23/huntshowdownnewmap-1280-1540268716525.jpg">
                        <div class="card-body">
                            <h5 class="card-title text-truncate">Hunt: Showdown's Unique Sound Feature</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a href="https://www.youtube.com/watch?v=2h8xrjW_qdE">
                    <div class="card h-75 shadow">
                        <img class="card-img-top" src="https://cdn.vox-cdn.com/thumbor/aPPUTp6Y-R5wOPZIkXRKQtU5kX0=/0x0:1440x809/1200x800/filters:focal(605x290:835x520)/cdn.vox-cdn.com/uploads/chorus_image/image/63972470/iwo_jima_2.0.jpg">
                        <div class="card-body">
                            <h5 class="card-title text-truncate">BFV Pacific Theater Update: First Look</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a href="https://www.youtube.com/watch?v=0YgZeeyqpzg">
                    <div class="card h-75 shadow">
                        <img class="card-img-top" src="https://i.ytimg.com/vi/paBYTKZZS5s/maxresdefault.jpg">
                        <div class="card-body">
                            <h5 class="card-title text-truncate">Battallion 1944: Eastern Front</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="row align-items-start mb-2 align-items-center">
        <div class="col-sm-3">
            <h2>STREAMS</h2>
        </div>
        <div class="col-sm-3 d-flex justify-content-end">
            <i class="fa fa-info-circle align-items-center" data-toggle="tooltip" data-placement="top" title="Personalize your list of streamers"></i>
        </div>
        <div class="col-sm-3">
            <h2>DEV</h2>
        </div>
        <div class="col-sm-3 d-flex justify-content-end">
            <i class="fa fa-info-circle align-items-center" data-toggle="tooltip" data-placement="top" title="Keep up with developer tweets"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <% console.log(defaultUser); %>
            <div class="row streamer d-flex justify-content-around">
                <a id="iconLink1" href=""><i class="fa fa-twitch fa-10x" id="streamerIcon1" style=<%=defaultUser.streamerList[0].isLive%>></i></a>
                <form action="/users/<%=defaultUser._id%>/streamers/<%=defaultUser.streamerList[0]._id%>?_method=PUT" method="POST">
                    <input type="text" id="streamerNameInput1" class="d-none" value="<%=defaultUser.streamerList[0].login%>" name="updatedStreamer"> 
                    <button type="submit" class="btn btn-outline-secondary mr-3 save d-none" id="saveButton1">Save</button>
                </form>
                <span id="streamerName1" class=""><%= defaultUser.streamerList[0].login%></span>
                <button type="button" class="btn btn-outline-secondary mr-3 edit" id="editButton1">Edit</button>
            </div> 
            <div class="row streamer d-flex justify-content-around">
                <a id="iconLink2" href=""><i class="fa fa-twitch fa-10x" id="streamerIcon2" style="<%=defaultUser.streamerList[1].isLive%>"></i></a> 
                <form action="/users/<%=defaultUser._id%>/streamers/<%=defaultUser.streamerList[1]._id%>?_method=PUT" method="POST">
                    <input type="text" id="streamerNameInput2" class="d-none" value="<%=defaultUser.streamerList[1].login%>" name="updatedStreamer">   
                    <button type="submit" class="btn btn-outline-secondary mr-3 save d-none" id="saveButton2">Save</button>
                </form>
                <span id="streamerName2" class=""><%=defaultUser.streamerList[1].login%></span>
                <button type="button" class="btn btn-outline-secondary mr-3 edit" id="editButton2">Edit</button>
            </div> 
            <div class="row streamer d-flex justify-content-around">
                <a id="iconLink3" href=""><i class="fa fa-twitch fa-10x" id="streamerIcon3" style="<%=defaultUser.streamerList[2].isLive%>"></i></a>
                <form action="/users/<%= defaultUser._id %>/streamers/<%=defaultUser.streamerList[2]._id %>?_method=PUT" method="POST">
                    <input type="text" id="streamerNameInput3" class="d-none" value="<%=defaultUser.streamerList[2].login%>" name="updatedStreamer">
                    <button type="submit" class="btn btn-outline-secondary mr-3 save d-none" id="saveButton3">Save</button>
                </form>
                <span id="streamerName3" class=""><%=defaultUser.streamerList[2].login%></span>
                <button type="button" class="btn btn-outline-secondary mr-3 edit" id="editButton3">Edit</button>
            </div>
        </div>   
        <div class="col-md-6" id="dev">
            <a class="twitter-timeline" 
                href="https://twitter.com/TwitterDev/lists/national-parks?ref_src=twsrc%5Etfw"
                data-height="400">
                A Twitter List by TwitterDev</a> 
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>   
    </div>
    <hr>
    <div class="row">
        <div>
            <h2>FORUMS</h2>
            <div class="Links">
                <ul>
                    <li><a href="http://boards.4channel.org/v/">/v/</a></li>
                    <li><a href="https://www.reddit.com/r/FortniteCompetitive/">r/FortniteCompetitive</a></li>
                    <li class="Last"><a href="https://ne.reddit.com/r/GlobalOffensive/#filter#no-esports">r/GlobalOffensive</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
            <h2>OST OF THE WEEK</h2>
    </div>
    <div class="row d-flex justify-content-start align-items-center ml-3" style="font-size: 75px">
        <a href="https://www.youtube.com/watch?v=Ztc5oZ0_b8k&list=PLBVCk8lHLMaWzsYa090H78ELUsbtNnKwf&index=15"><svg class="bi bi-headphones" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 3a5 5 0 0 0-5 5v4.5H2V8a6 6 0 1 1 12 0v4.5h-1V8a5 5 0 0 0-5-5z"/>
            <path d="M11 10a1 1 0 0 1 1-1h2v4a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-3zm-6 0a1 1 0 0 0-1-1H2v4a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-3z"/>
        </svg></a>      
        <a href="https://www.youtube.com/watch?v=Ztc5oZ0_b8k&list=PLBVCk8lHLMaWzsYa090H78ELUsbtNnKwf&index=15" style="font-size: 24px; margin-left: 30px;" id="album">Travis Strikes Again</a>
    </div>
    <hr>
<%- include('./partials/footer'); -%>
