<%- include('partials/header') %>      
    <h1 class="display-4 font-weight-bold">LOBBY.IO</h1>
    <div class="row">
        <h2>FEED</h2>
        <div class="row" id="feed">
            <div class="col-md-6 col-lg-4">
                <a href="https://www.youtube.com/watch?v=aRo5b0m_o7c&feature=emb_title&ab_channel=UbisoftAustralia">
                    <div class="card h-75 shadow-sm">
                        <img class="card-img-top" src="https://image-cdn.essentiallysports.com/wp-content/uploads/20201002231617/960x0-4-9.jpg">
                        <div class="card-body">
                            <h5 class="card-title text-truncate">Hyper Scape: Season 2</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 ">
                <a href="https://www.roguecompany.com/news/dr-disrespect-presents-the-arena">
                    <div class="card h-75 shadow-sm">
                        <img class="card-img-top" src="https://www.psu.com/wp/wp-content/uploads/2020/06/roguecompany.jpg">
                        <div class="card-body">
                            <h5 class="card-title text-truncate">Dr Disrespect Presents: The Arena</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a href="https://www.nintendolife.com/news/2020/10/fantasy_battle_royale_spellbreak_is_getting_its_first_seasonal_content_update_next_week">
                    <div class="card h-75 shadow-sm">
                        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT2Y2cXvIiEaQq4rznbPCYpkodmiawg67lNCg&usqp=CAU">
                        <div class="card-body">
                            <h5 class="card-title text-truncate">Spellbreak Seasonal Content Update</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a href="https://www.gamesradar.com/the-call-of-duty-black-ops-cold-war-beta-has-been-extended-thanks-to-the-communitys-code-busting-skills/">
                    <div class="card h-75 shadow">
                        <img class="card-img-top" src="https://cdn.mos.cms.futurecdn.net/gACZVH3P5W3cXXGgnpUFca-970-80.jpg.webp">
                        <div class="card-body">
                            <h5 class="card-title text-truncate">Call of Duty: Black Ops Cold War Beta Extended</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a href="https://www.youtube.com/watch?v=2h8xrjW_qdE">
                    <div class="card h-75 shadow">
                        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQLE4cORju0TqDWZSbmsGW9QlUh24oqGYe1eg&usqp=CAU">
                        <div class="card-body">
                            <h5 class="card-title text-truncate">Rainbow Six Siege May Be Coming to Xbox Game Pass</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a href="https://fortniteinsider.com/fortnite-fortnitemares-2020-halloween-event-leaks-start-date-more/">
                    <div class="card h-75 shadow">
                        <img class="card-img-top" src="https://fortniteinsider.com/wp-content/uploads/2020/10/Fortnitemares-2020.jpg">
                        <div class="card-body">
                            <h5 class="card-title text-truncate">Fortnitemares 2020</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="row align-items-start mb-2 align-items-center">
        <div class="col-sm-3">
            <h2>STREAMS</h2>
        </div>
        <div class="col-sm-3 d-flex justify-content-end">
            <i class="fa fa-info-circle align-items-center" data-toggle="tooltip" data-placement="top" title="Personalize your list of streamers"></i>
        </div>
        <div class="col-sm-3">
            <h2>DEV</h2>
        </div>
        <div class="col-sm-3 d-flex justify-content-end">
            <i class="fa fa-info-circle align-items-center" data-toggle="tooltip" data-placement="top" title="Keep up with developer tweets"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <% console.log(defaultUser); %>
            <div class="row streamer d-flex justify-content-around">
                <a id="iconLink1" href=""><i class="fa fa-twitch fa-10x" id="streamerIcon1" style=<%=defaultUser.streamerList[0].isLive%>></i></a>
                <form action="/users/<%=defaultUser._id%>/streamers/<%=defaultUser.streamerList[0]._id%>?_method=PUT" method="POST">
                    <input type="text" id="streamerNameInput1" class="d-none" value="<%=defaultUser.streamerList[0].login%>" name="updatedStreamer"> 
                    <button type="submit" class="btn btn-outline-secondary mr-3 save d-none" id="saveButton1">Save</button>
                </form>
                <span id="streamerName1" class=""><%= defaultUser.streamerList[0].login%></span>
                <button type="button" class="btn btn-outline-secondary mr-3 edit" id="editButton1">Edit</button>
            </div> 
            <div class="row streamer d-flex justify-content-around">
                <a id="iconLink2" href=""><i class="fa fa-twitch fa-10x" id="streamerIcon2" style="<%=defaultUser.streamerList[1].isLive%>"></i></a> 
                <form action="/users/<%=defaultUser._id%>/streamers/<%=defaultUser.streamerList[1]._id%>?_method=PUT" method="POST">
                    <input type="text" id="streamerNameInput2" class="d-none" value="<%=defaultUser.streamerList[1].login%>" name="updatedStreamer">   
                    <button type="submit" class="btn btn-outline-secondary mr-3 save d-none" id="saveButton2">Save</button>
                </form>
                <span id="streamerName2" class=""><%=defaultUser.streamerList[1].login%></span>
                <button type="button" class="btn btn-outline-secondary mr-3 edit" id="editButton2">Edit</button>
            </div> 
            <div class="row streamer d-flex justify-content-around">
                <a id="iconLink3" href=""><i class="fa fa-twitch fa-10x" id="streamerIcon3" style="<%=defaultUser.streamerList[2].isLive%>"></i></a>
                <form action="/users/<%= defaultUser._id %>/streamers/<%=defaultUser.streamerList[2]._id %>?_method=PUT" method="POST">
                    <input type="text" id="streamerNameInput3" class="d-none" value="<%=defaultUser.streamerList[2].login%>" name="updatedStreamer">
                    <button type="submit" class="btn btn-outline-secondary mr-3 save d-none" id="saveButton3">Save</button>
                </form>
                <span id="streamerName3" class=""><%=defaultUser.streamerList[2].login%></span>
                <button type="button" class="btn btn-outline-secondary mr-3 edit" id="editButton3">Edit</button>
            </div>
        </div>   
        <div class="col-md-6" id="dev">
            <a class="twitter-timeline" 
                href="https://twitter.com/TwitterDev/lists/national-parks?ref_src=twsrc%5Etfw"
                data-height="400">
                A Twitter List by TwitterDev</a> 
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>   
    </div>
    <hr>
    <div class="row">
        <div>
            <h2>PATCH NOTES</h2>
            <div class="Links">
                <ul>
                    <li><a href="https://fortniteintel.com/fortnite-v14-30-update-patch-notes/35744/">Fortnite</a></li>
                    <li><a href="https://www.ubisoft.com/en-us/game/hyper-scape/news-updates/5Up9MMuPz1o7ztVgp5Zggk/hyper-scape-patch-notes-v20">Hyperscape</a></li>
                    <li class="Last"><a href="https://go.playspellbreak.com/blog/2020/9/29/spellbreak-release-11">Spellbreak</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
            <h2>OST OF THE WEEK</h2>
    </div>
    <div class="row d-flex justify-content-start align-items-center ml-3" style="font-size: 75px">
        <a href="https://www.youtube.com/watch?v=4IKOyBUWXXI&list=PLwLPW345Huf7vyOUj3q0tzVvCM3bQRa2y&index=11&ab_channel=Xerom"><svg class="bi bi-headphones" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 3a5 5 0 0 0-5 5v4.5H2V8a6 6 0 1 1 12 0v4.5h-1V8a5 5 0 0 0-5-5z"/>
            <path d="M11 10a1 1 0 0 1 1-1h2v4a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-3zm-6 0a1 1 0 0 0-1-1H2v4a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-3z"/>
        </svg></a>      
        <a href="https://www.youtube.com/watch?v=4IKOyBUWXXI&list=PLwLPW345Huf7vyOUj3q0tzVvCM3bQRa2y&index=11&ab_channel=Xerom" style="font-size: 24px; margin-left: 30px;" id="album">Granblue Fantasy Versus</a>
    </div>
    <hr>
<%- include('./partials/footer'); -%>
